---
import { Image } from "astro:assets";
import fallback from "../assets/fallback.png";

import type { CollectionEntry } from "astro:content";

interface PostCardProps {
	data: CollectionEntry<"news">["data"];
	slug: CollectionEntry<"news">["slug"];
}
const { data, slug } = Astro.props;
const thumbnail = data?.thumbnail ?? fallback;
const alt = data?.alt ?? "Fallback image";

const checkChars = (str) => {
	let max = 150;
	return str.length > max ? str.substring(0, max) + "..." : str;
};
---

{
	data && slug ? (
		<div class="card card-side bg-base-100 shadow-sm w-full h-64 overflow-hidden">
			<figure class="w-1/3 h-full">
				<Image class="object-cover w-full h-full" src={thumbnail} alt={alt} />
			</figure>
			<div class="card-body flex flex-col justify-between w-2/3 p-4">
				<a href={`/news/${slug}`}>
					<h2 class="card-title capitalize">{checkChars(data.title)}</h2>
				</a>
				<p>{new Date(data.date).toLocaleDateString("en-GB")}</p>
				<div class="card-actions justify-end">
					<a href={`/news/${slug}`} class="btn-cta-sm">
						Read More
					</a>
				</div>
			</div>
		</div>
	) : (
		<div class="card lg:card-side bg-base-100 shadow-sm w-full h-64 overflow-hidden">
			<figure class="w-1/3 h-full" />
			<div class="card-body flex flex-col justify-between w-2/3 p-4">
				<h2 class="card-title">End of Feed!</h2>
				<p>{new Date(Date.now()).toLocaleDateString("en-GB")}</p>
				<div class="card-actions justify-end" />
			</div>
		</div>
	)
}
