---
interface Props {
	data: {
		thumbnail: string;
		alt: string;
		title: string;
		date: string;
	};
	slug: string;
}

const { data, slug } = Astro.props;
---

<div
	class="card lg:card-side bg-base-100 shadow-sm w-full h-64 overflow-hidden"
>
	<figure class="w-1/3 h-full">
		<img
			class="object-cover w-full h-full"
			src={data.thumbnail}
			alt={data.alt}
		/>
	</figure>
	<div class="card-body flex flex-col justify-between w-2/3 p-4">
		<a href={`/news/${slug}`}>
			<h2 class="card-title">{data.title}</h2>
		</a>
		<p>{new Date(data.date).toLocaleDateString()}</p>
		<div class="card-actions justify-end">
			<a href={`/news/${slug}`} class="btn btn-primary">Read More</a>
		</div>
	</div>
</div>
